<%= render 'shared/page_title', title: 'Create New Fire' %>

<p id='new-fire-how-to' style='text-align: center'> Have an interesting dive experience, underwater encounter, or flight fuckup? <br/> Write about it here and watch the flames rise </p>
<hr/>

<%= render 'form' %>