<!DOCTYPE html>
<html>
<body>
	<div class="row">
		<div class="container-fluid">
			<%= image_tag 'squad.png', :class => 'background'%>
		</div>
	</div>

	<div class="row">
		<div class='container-fluid' style='text-align: center'>
			<h1 class='col-md-4'> Create </h1>
			<h1 class='col-md-4'> Explore </h1>
			<h1 class='col-md-4'> Discover </h1>
		</div>
	</div>

	<div class='row'>
		<div class='container-fluid'>
			<%= image_tag 'happy.jpg', :class => 'happy' %>
		</div>
	</div>
</body>
</html>

