<div class='row'>
	<div class="container" id='home-image'>
		<%= image_tag 'discover.jpg' %>
	</div>
</div>

<div class='row'>
	<div class='container' id='subscriber-image'>
		<%= image_tag 'seasfire.png' %>
	</div>
</div>