<!DOCTYPE html>
<html>
<body>
<div class="content">
  <h1 class="content__heading"><%= image_tag("head-logo.png")%></h1>
  <p class="content__teaser"></p>
  <div class="row">
 	 <button class="content_cta btn btn-default md" ><%= link_to "About", new_log_path %></button>
 	 <button class="content_cta btn btn-default md" ><%= link_to "Sign In", new_user_session_path %></button>
 	</div>
</div><!-- /content -->

<video id="head-vid" class="video" autoplay loop controller>
  <source src="assets/head.mp4" type="video/mp4">
  <source src="assets/head.ogv" type="video/ogg">
  <source src="assets/head.webm" type="video/webm">
</video><!-- /video -->
<body>
</html>

