<!DOCTYPE html>
<html>
<body>
	<div class="row">
		<div class="container-fluid">
			<%= image_tag 'squad.png', :class => 'background'%>
		</div>
	</div>

	<div class="row">
		<div class='container' style='text-align: center; margin-top: 20px'>
			<h1 class='col-md-4'> Create <span class='glyphicon glyphicon-scissors'></span></h1>
			<h1 class='col-md-4'> Explore <span class='glyphicon glyphicon-globe'> </span> </h1>
			<h1 class='col-md-4'> Discover <span class='glyphicon glyphicon-send'></span> </h1>
		</div>
	</div>

	<div class='row'>
		<div class='image'>
			<%= image_tag 'happy.jpg', :class => 'happy' %> 
		</div>
		<button class='btn btn-warning' id='subscribe'>Subscribe To Our Newsletter</button>
	</div>
</body>
</html>

