/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 
 */

$navbar-default-bg: #001f3f;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
	margin-top: 10px;
	float: left;
	margin-right: 0px;
	letter-spacing: -1px;
	padding-top: 9px;
}

#logo:hover {
	color: white;
	text-decoration: none;
}

body {
}

#row-one {
	position: absolute;
	
}

.nav_item {
	margin-left: 25px;
	float: right;
	margin-top: 20px;
	color: #001f3f;
}

.center {
	text-align: center;
	margin-right: 10px;
	margin-left: 14px;
	height: 540px;
	width: 1540px;
}

h1, h2, h3, h4 {
	line-height: 1;
}

h1{
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2{
	font-size: 1.2em;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #777;
}

.left {
	text-align: left;
	letter-spacing: .5;
}

.midrow {
	margin-top: 80px;
	text-align: left;
	letter-spacing: 1;
}

.btn-primary {
	padding-top: 10px;
	font-weight: bold;
	background-color: #001f3f;
	border-color: #001f3f;
}

.footer {
	margin-top: 25px;
	border-top: 1px solid #eaeaea;
}

#gallery-links {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	height: 300px;
	width: 90%;
	overflow: auto;

}

#gallery-links img {
	max-height: 100%;
	max-width: auto;
	margin: auto;

}

#gallery-head {

	text-align: left;
	font-weight: bold;
	background-size: cover;
	background-color: #001f3f;
	padding: 10px 10px 10px 10px;
	margin-right: 20px;
	margin-left: 20px;
	font-family: Impact, Charcoal, sans-serif;
	color: #FFFFFF;
	letter-spacing: 2px;
	word-spacing: 10px;
	border-color: #DDDDDD;
	z-index: 1;
}

#gallery-head text {
	opacity: 0.4;
}


#sidebar {
	width: 270px;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	background: #f5f7f9;
	padding: 0 0 0 0;
	border-right: 1px solid #d6dce0;
	#logo {
		width: auto;
		position: absolute;
		left: 10px;
		right: 0px;
		top: 0px;
	}

	ul {
		list-style: none;
		text-align: right;
		padding-right: 6em;
		padding-top: 9em;
	}

	li {
		position: relative;
		width: 170px;
		padding: .5em 0;
		left: 0;
		top: 80%;
		text-align: center;
		border-radius: 25px;
		border: 2px solid #AAAAAA;

		a {
			color: #9eafba;
			text-decoration: none;
			transition: all .4s ease;
			width: 100%;
		}
	}

	#facebook {
		right: 50px;
		padding-right: 5px;
		.btn {
			position: absolute;
		}
	}
}

/*!
Styles for full screen background video demo
*/
/* =============================================================================
  RESETS
============================================================================= */
html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
}

/* =============================================================================
  HTML, BODY
============================================================================= */
html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: "Oxygen", sans-serif;
  line-height: 1.5;
}

/* =============================================================================
  CONTENT
============================================================================= */
.content {
  position: relative;
  top: 30%;
  z-index: 2;
  margin: 0 auto;
  max-width: 720px;
  text-align: center;
}

.content__heading {
  margin-bottom: 24px;
  color: #272727;
  font-size: 44px;
  img {
  	position: relative;
  	width: 400px;
  	height: 400px;
  	bottom: 85px;
  }
}

.content__teaser {
  padding-top: 10px;
  margin-bottom: 24px;
  color: #595959;
  font-size: 22px;
}

.content__cta {
  display: inline-block;
  padding: 12px 48px;
  color: #ff3c64;
  font-size: 22px;
  text-decoration: none;
  border: solid 4px #ff3c64;
}

/* =============================================================================
  VIDEO
============================================================================= */
.video {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

