/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 
 */

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
	margin-top: 10px;
	float: left;
	margin-right: 0px;
	letter-spacing: -1px;
	padding-top: 9px;
}

#logo:hover {
	color: white;
	text-decoration: none;
}

h1, h2, h3, h4 {
	line-height: 1;
}

h1{
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
}

h2{
	font-size: 1.2em;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #777;
}

.left {
	text-align: left;
	letter-spacing: .5;
}

.midrow {
	margin-top: 80px;
	text-align: left;
	letter-spacing: 1;
}

.btn-primary {
	padding-top: 10px;
	font-weight: bold;
	background-color: #001f3f;
	border-color: #001f3f;
}

.footer {
	margin-top: 25px;
	border-top: 1px solid #eaeaea;
}

#gallery-links {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	height: 300px;
	width: 90%;
	overflow: auto;

}

#gallery-links img {
	max-height: 100%;
	max-width: auto;
	margin: auto;

}

#gallery-head {

	text-align: center;
	font-weight: bold;
	background-size: cover;
	background-color: #001f3f;
	padding: 10px 10px 10px 10px;
	margin-right: 60px;
	font-family: Impact, Charcoal, sans-serif;
	color: #FFFFFF;
	letter-spacing: 2px;
	word-spacing: 10px;
	border-color: #DDDDDD;
	z-index: 1;
}

#gallery-head text {
	opacity: 0.4;
}


#sidebar {
	width: 270px;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	background: #f5f7f9;
	padding: 0 0 0 0;
	border-right: 1px solid #d6dce0;
	#logo {
		width: auto;
		position: absolute;
		left: 10px;
		right: 0px;
		top: 0px;
	}

	ul {
		list-style: none;
		text-align: right;
		padding-right: 6em;
		padding-top: 9em;
	}

	li {
		position: relative;
		width: 170px;
		padding: .5em 0;
		left: 0;
		top: 80%;
		text-align: center;
		border-radius: 25px;
		border: 2px solid #AAAAAA;

		a {
			color: #9eafba;
			text-decoration: none;
			transition: all .4s ease;
			width: 100%;
		}
	}
}

#site-entrance {
  position: absolute;
  top: 40px;
  left: 30px;
  transition: .5x ease;
}

#entry {
	text-align: center;
	padding: 20px 70px 70px 70px;
}

#foot {
	margin-top: 40px;
	btn {
		color: #DDDDDD;
	}
}

#blurbs {
	margin-right: 50px;
	display: block;
	float: right;
}

#gallery {
	display: block;
	margin-right: 40px;
	float: right;
	margin-top: 40px;
}

#about-header {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #001f3f;
	color: #DDDDDD;
	opacity: 0.4;
	margin-left: 20px;
}

#bs-example navbar collapse-1 {
	position: absolute;
}

.navbar-brand {
	display: block;
	float: left;
	position: relative;
}

#head-nav {
	color: #001f3f;
	z-index: 2;
	position: relative;
}

.background {
	display: block;
	position: relative;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	overflow: hidden;
}

.happy {
	display: block;
	position: relative;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	overflow: hidden;
	padding-top: 2em;
}

.mission {
	display: inline;
}
