.well {
	background-color: #EDEDED;

}

input, textarea, select, .uneditable-input {
	border: 1px solid #d2d2d2;
	border-radius: 5px;
	width: 100%;
	margin-bottom: 15px;
}

input {
	height: auto !important;
}

#fire-title {
	font-size: 50px;
	font-weight: 300;
	letter-spacing: -1px;
	line-height: 30.33px;
	text-align: center;
}

#new-fire-how-to {
	font-weight: 200;
	letter-spacing: 2px;
	line-height: 30.33px;
}

#explanation {
	font-size: 26px;
	line-height: 43.33px;
	letter-spacing: -0.2px;
	font-weight: 300;
}

.container-fluid img{
	min-width: 100%;
	min-height: 100%;
	position: relative;
	display: block;
}

.nav-options {
	font-weight: bold;
	color: #DC143C;
	letter-spacing: 1px;
}

#head-image {
	width: 100%;
}

#founders {
	padding-right: 10px;
	padding-bottom: 10px;
}

.name {
	font-weight: 300;
	letter-spacing: 1.2px;
	font-size: 28px;
	color: #27408B;
}