.well {
	background-color: #EDEDED;

}

input, textarea, select, .uneditable-input {
	border: 1px solid #d2d2d2;
	border-radius: 5px;
	width: 100%;
	margin-bottom: 15px;
}

input {
	height: auto !important;
}

#new-fire-title {
	font-size: 50px;
	font-weight: 300;
	letter-spacing: -1px;
	line-height: 30.33px;
}

#new-fire-how-to {
	font-weight: 200;
	letter-spacing: 2px;
	line-height: 30.33px;
}

#explanation {
	font-size: 16px;
	line-height: 30.33px;
	letter-spacing: -0.2px;
	font-weight: 300;
}