.well {
	background-color: #EDEDED;

}

input, textarea, select, .uneditable-input {
	border: 1px solid #d2d2d2;
	border-radius: 5px;
	width: 100%;
	margin-bottom: 15px;
}

input {
	height: auto !important;
}

.fire-title {
	font-size: 50px;
	font-weight: 300;
	letter-spacing: 1.12px;
	line-height: 30.33px;
	text-align: center;
	color: #DC143C;
}
.post-title {
	font-size: 30px;
	font-weight: 300;
	letter-spacing: -1px;
	line-height: 39.1px;
	text-align: left;
	vertical-align: left;
	margin-left: 23px;
}

.post-summary {
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 1.4px;
	line-height: 20px;
}

#new-fire-how-to {
	font-weight: 200;
	letter-spacing: 2px;
	line-height: 30.33px;
}

#explanation {
	font-size: 16px;
	line-height: 23.33px;
	letter-spacing: 1px;
	font-weight: 300;
	padding: 0 0 15px 0;
}

.container-fluid img{
	min-width: 100%;
	min-height: 100%;
	position: relative;
	display: block;
}

.nav-options {
	font-weight: bold;
	color: #DC143C;
	letter-spacing: 1px;
}

#head-image {
	width: 100%;
}

#founders {
	padding-right: 10px;
}

.like {
	position: relative;
	top: 70px;
	size: 50x50;
}

.edition {
	position: relative;
	display: block;
	float: left;
	margin-top: 70px;
	margin-left: 40px;
}

.gravatar {
	position: relative;
	display: inline-block;
	max-width: 300px;
	max-height: 265px;
	width: auto;
	height: auto;
	margin: 0 auto;

}
.name {
	font-weight: 300;
	letter-spacing: 1.2px;
	font-size: 28px;
	color: #27408B;
}

span.picture {
	margin-top: 10px;
	input {
		border: 0;
	}
}

.show_recipe {
	margin: 10px 10px 10px 10px;
}

#about-carousel {
	display: block;
	position: relative;
	width: 1240px;
	height: 480px;
	overflow: hidden;
	.carousel-caption {
		display: inline-block;
		position: fixed;
		top: 380px;
		z-index: 1;
	}
}

#about-carousel img{
	display: block;
	height: auto;
	width: 100%;
	margin: 0 auto;
	padding-left: 31px;
}

.carousel-control {
	border: 1px solid #FFFFFF;
}

span.glyphicon-road {
	font-size: 4.2em;
	padding-left: 30px;
	padding-top: 50px;
}

.input_checkbox {
	width: auto !important;
}
